/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
}
.bg-co {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 22px;
  margin-top: 22px;
}
.searchName {
  width: 340px;
  height: 23px;
  font-family: 'Roboto';
  font-weight: 600;
  color: grey;
}
.comment-img{
  
}